# GUI
PyQt5

# Base de datos
SQLAlchemy
PyMySQL

# Google Drive API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# PDFs
reportlab

# XML
lxml



# Programación de jobs
APScheduler # Para ejecutar tareas programadas

# Otros
python-dotenv
